#login-background-image {
  background-image: url(https://cdn.2kgames.com/web/account/newsletters/bg_civ6_skin.jpg);
  width: 100%;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title-2k-login {
  display: flex;
  justify-content: center;
  margin-top: 15rem;
}

.form-field label {
  cursor: default;
  text-transform: uppercase;
  margin: 4px 0 13px;
}

.login-btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.login-btn-style {
  background-color: #646464;
  color: #c8c8c8;
  border-color: #646464;
}

.login-btn-style:hover {
  border-color: #c8c8c8;
  background-color: #646464;
}

.signup {
  display: flex;
  justify-content: center;
}

.signup-link {
  color: #ee2e24;
  text-decoration: none;
  transition: 0.5s;
}

.signup-link:hover {
  color: #91110b;
}

@media only screen and (max-width: 430px) {
  #login-background-image {
    height: 600px;
  }

  .title-2k-login {
    display: none;
  }
}
